# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# IDE / Editor files
.vscode/
.idea/

# Logs
autopost.yml

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
